:root {
  --primary-text-color: #000000;
  --second-text-color: #ffffff;
  --third-text-color: #545454;

  --accent-color: #ff6b01;

  --main-bg-color: #e5e5e5;
  --modal-bg-color: #ffffff;

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --duration: 250ms;
}
