:root {
  --primary-text-color: #000000;
  --second-text-color: #ffffff;
  --third-text-color: #545454;

  --accent-color: #ff6b01;
  --puls-heart: #ffc0cb;

  --main-bg-color: #fff;
  --modal-bg-color: #ffffff;
  --footer-bg-color: #f7f7f7;

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --duration: 250ms;
}
