<footer class="footer">
    <div class="footer__block">
        <p class="footer__content">© 2022 | All Rights Reserved |</p> 
            <p class="footer__develop"> 
                Developed with 
            <svg class="footer__icon">
                <use href="images/icons/sprite-footer.svg#icon-heart"></use>
            </svg>
            <span>by</span>
            <button class="btn" type="button" data-modal-open>
                <img class="goit__btn" src="images/icons/goit.png" alt="goit"><span class="goit__stud">Students</span> 
                <!-- GoIT  --> 
            </button>    
        </p>
    </div>
</footer>

