<header class="header">
  <div class="container">
    <div class="header__navigate">
      <a class="header__link" href="">
        <div class="header__logo">
          <svg class="header__logo--icon" width="24" height="24">
            <use href="images/header/sprite.svg#icon-logo"></use>
          </svg>
        </div>
        <span class="header__logo--text">Filmoteka</span>
      </a>

      <div class="navigate__selection">
        <nav class="navigate__menu">
          <ul class="navigate__list">
            <li class="navigate__item">
              <a class="navigate__link page__home active" href="">home</a>
            </li>
            <li class="navigate__item">
              <a class="navigate__link page__library" href="">my library</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
    />
    <form class="form__search">
      <input class="search__input" type="text" placeholder="Поиск фильмов" />
      <button class="search__button" type="submit"></button>
    </form>

    <ul class="search-helper"></ul>

    <div class="library__button-box is-hidden">
      <button class="library__button button__active btn-watched" type="button">watched</button>
      <button class="library__button btn-queue" type="button">queue</button>
    </div>
  </div>
</header>
