<div class="backdrop-mod__team is-hidden" data-modal>
    <div class="mod__team">
        <div class="modal-block__team">
            <button class="modal-btn-close" type="button" data-modal-close>X</button>
            <h2 class="team__title"><span class="title__super">S U P E R</span>  <span class="title__dev">D E V S</span> </h2>
            <ul class="team-super__dev">
                <li class="team__info">
                    <div class="scene">
                        <div class="cards">
                            <div class="card front_1"></div>
                            <div class="card back_1"></div>
                        </div>
                    </div>
                    <h2 class="team__name">Bogdan<br/> Shparuk</h2>
                    <span class="team__subtitle">Team Lead</span>
                    <div class="team__social">
                        <a class="team__link" href="https://github.com/stargazinghero" target='_blank'>
                            <svg class="team-soc__icon">
                                <use href="images/icons/sprite-footer.svg#icon-github"></use>
                            </svg>
                        </a>
                        <a class="team__link" href="mailto:shparukbodya@gmail.com" target='_blank'>
                            <svg class="team-soc__icon">
                                <use href="images/icons/sprite-footer.svg#icon-gmail"></use>
                            </svg>
                        </a>
                    </div>
                </li>
                <li class="team__info">
                    <div class="scene">
                        <div class="cards">
                            <div class="card front_2"></div>
                            <div class="card back_2"></div>
                        </div>
                    </div>
                    <h2 class="team__name">Ruslan<br/> Sulieimanov</h2>
                    <span class="team__subtitle">Scrum Master</span>
                    <div class="team__social">
                        <a class="team__link" href="https://github.com/RS-free" target='_blank'>
                            <svg class="team-soc__icon">
                                <use href="images/icons/sprite-footer.svg#icon-github"></use>
                            </svg>
                        </a>
                        <a class="team__link" href="mailto:ruslansulieim@gmail.com" target='_blank'>
                            <svg class="team-soc__icon">
                                <use href="images/icons/sprite-footer.svg#icon-gmail"></use>
                            </svg>
                        </a>
                    </div>
                </li>
                <li class="team__info">
                    <div class="scene">
                        <div class="cards">
                            <div class="card front_3"></div>
                            <div class="card back_3"></div>
                        </div>
                    </div>
                    <h2 class="team__name">Kateryna<br/> Tolstykh</h2>
                    <span class="team__subtitle">Developer</span>
                    <div class="team__social">
                        <a class="team__link" href="https://github.com/Agrratt" target='_blank'>
                            <svg class="team-soc__icon">
                                <use href="images/icons/sprite-footer.svg#icon-github"></use>
                            </svg>
                        </a>
                        <a class="team__link" href="mailto:agrratt@gmail.com" target='_blank'>
                            <svg class="team-soc__icon">
                                <use href="images/icons/sprite-footer.svg#icon-gmail"></use>
                            </svg>
                        </a>
                    </div>
                </li>
                <li class="team__info">
                    <div class="scene">
                        <div class="cards">
                            <div class="card front_4"></div>
                            <div class="card back_4"></div>
                        </div>
                    </div>
                    <h2 class="team__name">Dmytro<br/> Bondarenko</h2>
                    <span class="team__subtitle">Developer</span>
                    <div class="team__social">
                        <a class="team__link" href="https://github.com/DiSBond" target='_blank'>
                            <svg class="team-soc__icon">
                                <use href="images/icons/sprite-footer.svg#icon-github"></use>
                            </svg>
                        </a>
                        <a class="team__link" href="mailto:bondarenkodima2013@gmail.com" target='_blank'>
                            <svg class="team-soc__icon">
                                <use href="images/icons/sprite-footer.svg#icon-gmail"></use>
                            </svg>
                        </a>
                    </div>
                </li>
                <li class="team__info">
                    <div class="scene">
                        <div class="cards">
                            <div class="card front_5"></div>
                            <div class="card back_5"></div>
                        </div>
                    </div>
                    <h2 class="team__name">Iryna<br/> Hudymenko</h2>
                    <span class="team__subtitle">Developer</span>
                    <div class="team__social">
                        <a class="team__link" href="https://github.com/IRYNA86" target='_blank'>
                            <svg class="team-soc__icon">
                                <use href="images/icons/sprite-footer.svg#icon-github"></use>
                            </svg>
                        </a>
                        <a class="team__link" href="mailto:iryn4ik09@gmail.com" target='_blank'>
                            <svg class="team-soc__icon">
                                <use href="images/icons/sprite-footer.svg#icon-gmail"></use>
                            </svg>
                        </a>
                    </div>
                </li>
                <li class="team__info">
                    <div class="scene">
                        <div class="cards">
                            <div class="card front_6"></div>
                            <div class="card back_6"></div>
                        </div>
                    </div>
                    <h2 class="team__name">Alexander<br/> Krasnobokyi</h2>
                    <span class="team__subtitle">Developer</span>
                    <div class="team__social">
                        <a class="team__link" href="https://github.com/AlexxRed" target='_blank'>
                            <svg class="team-soc__icon">
                                <use href="images/icons/sprite-footer.svg#icon-github"></use>
                            </svg>
                        </a>
                        <a class="team__link" href="mailto:alex.krasnobokyi@gmail.com" target='_blank'>
                            <svg class="team-soc__icon">
                                <use href="images/icons/sprite-footer.svg#icon-gmail"></use>
                            </svg>
                        </a>
                    </div>
                </li> 
                <li class="team__info">
                    <div class="scene">
                        <div class="cards">
                            <div class="card front_7"></div>
                            <div class="card back_7"></div>
                        </div>
                    </div>
                    <h2 class="team__name">Alexander<br/> Shcherbina</h2>
                    <span class="team__subtitle">Developer</span>
                    <div class="team__social">
                        <a class="team__link" href="https://github.com/aleksandr105" target='_blank'>
                            <svg class="team-soc__icon">
                                <use href="images/icons/sprite-footer.svg#icon-github"></use>
                            </svg>
                        </a>
                        <a class="team__link" href="mailto:aleksandrsherbina105@gmail.com" target='_blank'>
                            <svg class="team-soc__icon">
                                <use href="images/icons/sprite-footer.svg#icon-gmail"></use>
                            </svg>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div> 
