<div class="backdrop-mod__team is-hidden" data-modal>
    <div class="mod__team">
        <div class="modal-block__team">
            <button type="button" data-modal-close>
                <svg class="modal-btn-close">
                    <use href="images/icons/sprite-footer.svg#icon-close"></use>
                </svg>
            </button>
            <h2 class="team__title"><span class="title__our">OUR</span>  <span class="title__team">TEAM</span> </h2>
            <ul class="our__team">
                <li class="team__info">
                    <img class="team__image" src="images/team/bogdan.jpg" alt="Bogdan Shparuk">
                    <h2 class="team__name">Bogdan<br/> Shparuk</h2>
                    <span class="team__subtitle">Team Lead</span>
                    <div class="team__social">
                        <a class="team__link" href="https://github.com/stargazinghero" target='_blank'>
                            <svg class="team-soc__icon">
                                <use href="images/icons/sprite-footer.svg#icon-github"></use>
                            </svg>
                        </a>
                        <a class="team__link" href="mailto:shparukbodya@gmail.com" target='_blank'>
                            <svg class="team-soc__icon">
                                <use href="images/icons/sprite-footer.svg#icon-gmail"></use>
                            </svg>
                        </a>
                    </div>
                </li>
                <li class="team__info">
                    <img class="team__image" src="images/team/ruslan.jpg" alt="Ruslan Sulieimanov">
                    <h2 class="team__name">Ruslan<br/> Sulieimanov</h2>
                    <span class="team__subtitle">Scrum Master</span>
                    <div class="team__social">
                        <a class="team__link" href="https://github.com/RS-free" target='_blank'>
                            <svg class="team-soc__icon">
                                <use href="images/icons/sprite-footer.svg#icon-github"></use>
                            </svg>
                        </a>
                        <a class="team__link" href="mailto:ruslansulieim@gmail.com" target='_blank'>
                            <svg class="team-soc__icon">
                                <use href="images/icons/sprite-footer.svg#icon-gmail"></use>
                            </svg>
                        </a>
                    </div>
                </li>
                <li class="team__info">
                    <img class="team__image" src="images/team/сatherine.jpg" alt="Kateryna Tolstykh">
                    <h2 class="team__name">Kateryna<br/> Tolstykh</h2>
                    <span class="team__subtitle">Developer</span>
                    <div class="team__social">
                        <a class="team__link" href="https://github.com/Agrratt" target='_blank'>
                            <svg class="team-soc__icon">
                                <use href="images/icons/sprite-footer.svg#icon-github"></use>
                            </svg>
                        </a>
                        <a class="team__link" href="mailto:agrratt@gmail.com" target='_blank'>
                            <svg class="team-soc__icon">
                                <use href="images/icons/sprite-footer.svg#icon-gmail"></use>
                            </svg>
                        </a>
                    </div>
                </li>
                <li class="team__info">
                    <img class="team__image" src="images/team/dima.jpg" alt="Dmytro Bondarenko" width='190px'>
                    <h2 class="team__name">Dmytro<br/> Bondarenko</h2>
                    <span class="team__subtitle">Developer</span>
                    <div class="team__social">
                        <a class="team__link" href="https://github.com/DiSBond" target='_blank'>
                            <svg class="team-soc__icon">
                                <use href="images/icons/sprite-footer.svg#icon-github"></use>
                            </svg>
                        </a>
                        <a class="team__link" href="mailto:bondarenkodima2013@gmail.com" target='_blank'>
                            <svg class="team-soc__icon">
                                <use href="images/icons/sprite-footer.svg#icon-gmail"></use>
                            </svg>
                        </a>
                    </div>
                </li>
                <li class="team__info">
                    <img class="team__image" src="images/team/iryna.jpg" alt="Iryna Hudymenko">
                    <h2 class="team__name">Iryna<br/> Hudymenko</h2>
                    <span class="team__subtitle">Developer</span>
                    <div class="team__social">
                        <a class="team__link" href="https://github.com/IRYNA86" target='_blank'>
                            <svg class="team-soc__icon">
                                <use href="images/icons/sprite-footer.svg#icon-github"></use>
                            </svg>
                        </a>
                        <a class="team__link" href="mailto:iryn4ik09@gmail.com" target='_blank'>
                            <svg class="team-soc__icon">
                                <use href="images/icons/sprite-footer.svg#icon-gmail"></use>
                            </svg>
                        </a>
                    </div>
                </li>
                <li class="team__info">
                    <img class="team__image" src="images/team/alexred.jpeg" alt="Alexander Krasnobokyi">
                    <h2 class="team__name">Alexander<br/> Krasnobokyi</h2>
                    <span class="team__subtitle">Developer</span>
                    <div class="team__social">
                        <a class="team__link" href="https://github.com/AlexxRed" target='_blank'>
                            <svg class="team-soc__icon">
                                <use href="images/icons/sprite-footer.svg#icon-github"></use>
                            </svg>
                        </a>
                        <a class="team__link" href="mailto:alex.krasnobokyi@gmail.com" target='_blank'>
                            <svg class="team-soc__icon">
                                <use href="images/icons/sprite-footer.svg#icon-gmail"></use>
                            </svg>
                        </a>
                    </div>
                </li>
                <!-- <li class="team__info">
                    <img class="team__image" src="images/team/constantin.jpg" alt="Konstantin Spiransky">
                    <h2 class="team__name">Konstantin Spiransky</h2>
                    <span class="team__subtitle">Developer</span>
                    <div class="team__social">
                        <a class="team__link" href="https://github.com/Konstantin2014" target='_blank'>
                            <svg class="team-soc__icon">
                                <use href="images/icons/sprite-footer.svg#icon-github"></use>
                            </svg>
                        </a>
                        <a class="team__link" href="mailto:kokos201475@gmail.com" target='_blank'>
                            <svg class="team-soc__icon">
                                <use href="images/icons/sprite-footer.svg#icon-gmail"></use>
                            </svg>
                        </a>
                    </div>
                </li> -->
                <li class="team__info">
                    <img class="team__image" src="" alt="Alexander Shcherbina">
                    <h2 class="team__name">Alexander<br/> Shcherbina</h2>
                    <span class="team__subtitle">Developer</span>
                    <div class="team__social">
                        <a class="team__link" href="https://github.com/aleksandr105" target='_blank'>
                            <svg class="team-soc__icon">
                                <use href="images/icons/sprite-footer.svg#icon-github"></use>
                            </svg>
                        </a>
                        <a class="team__link" href="mailto:aleksandrsherbina105@gmail.com" target='_blank'>
                            <svg class="team-soc__icon">
                                <use href="images/icons/sprite-footer.svg#icon-gmail"></use>
                            </svg>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
