<!-- <p>Modal-details</p> -->
<div class="backdrop modal-is-hidden">
    <div class="modal">
       
        <button class="close__button">
            <svg class="close__icon" width="14" height="14">
                <use href="./images/favicon/svg/criss_cross.svg#icon-Vector-1"></use>
            </svg>
        </button>
        <div class="detail__image__block">
            <img src="https://upload.wikimedia.org/wikipedia/commons/c/c2/No_image_poster.png" alt="movie poster" class="detail__img">
        </div>
        <div class="detail__info__block">
            <h2 class="detail__film__title">FimlTitle</h2>
            <table class="detail__list__block">
                <tbody>
                    <tr class="detail__list__info">
                        <td class="detail__item__info">Vote&nbsp/&nbspVotes</td>
                        <td class="detail__item__info__value"><span class="detail__item__info__value__rating">0</span>&nbsp/&nbsp<span class="detail__item__info__value__votes"></span></td>
                    </tr>
                    <tr>
                        <td class="detail__item__info">Popularity</td>
                        <td class="detail__item__info__value popularity">0</td>
                    </tr>
                    <tr>
                        <td class="detail__item__info">Original Title</td>
                        <td class="detail__item__info__value original__title"></td>
                    </tr>
                    <tr>
                        <td class="detail__item__info">Genre</td>
                        <td class="detail__item__info__value genres"></td>
                    </tr>
                </tbody>
            </table>
            <h3 class="detail__about__title">ABOUT</h3>
            <p class="detail__about__text">About Info</p>
            <div class="detail__buttons_block">
                <button class="detail__button detail__button--disable watched"><span class="span-watched">ADD</span> <span class="span-watched_add">TO</span> WATCHED</button>
                <button class="detail__button detail__button--disable queue"><span class="span-queue">ADD</span> <span class="span-queue_add">TO</span> QUEUE</button>
            </div>
            <ul class="detail__image__gallery"></ul>
        </div>
        <div class="modal-traill-wrapper">
            <div class="modal-traill"></div>
        </div>
        <div class="second__modal__block">
            <button class="second__modal__btn">SIMILAR MOVIE</button>
            <div class="second__modal second__modal--hidden"></div>
        </div>

    </div>
</div>

<span class="span-watched_add"></span>