.backdrop-mod__team {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 1s ease 0s;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mod__team {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.modal-block__team {
  position: relative;
  display: inline-block;
  height: 100vh;
  padding: 15px;
  border-radius: 4px;
  background: lavender;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: 0 1px 4px rgb(0, 0, 0), -23px 0 20px -23px rgba(0, 0, 0, 1),
    23px 0 20px -23px rgba(0, 0, 0, 0.788), 0 0 40px rgba(0, 0, 0, 1) inset;

  @media screen and (max-width: 479px) {
    width: 300px;
  }

  @media screen and (min-width: 480px) {
    width: 300px;
  }

  @media screen and (min-width: 768px) {
    width: 670px;
    height: 645px;
    overflow-y: auto;
  }

  @media screen and (min-width: 1024px) {
    width: 1200px;
    height: 400px;
    padding-left: 45px;
    padding-right: 45px;
  }
}

.modal-btn-close {
  position: absolute;
  border: none;
  top: 15px;
  right: 15px;
  width: 20px;
  height: 20px;
  fill: grey;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  transition: fill var(--timing-function);

  &:focus,
  &:hover {
    fill: var(--accent-color);
  }

  @media screen and (min-width: 768px) {
    top: 20px;
    right: 15px;
    width: 20px;
    height: 20px;
  }

  @media screen and (min-width: 1024px) {
    top: 25px;
    right: 20px;
    width: 25px;
    height: 25px;
  }
}

.team__title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
  color: black;
  padding-top: 15px;
}

.title__our {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 40px;
  background-color: var(--primary-text-color);
  color: var(--main-bg-color);
}

.title__team {
  display: flex;
  width: 100px;
  height: 40px;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  background-color: var(--accent-color);
  color: var(--main-bg-color);
}

.our__team {
  list-style: none;
  padding-top: 30px;

  @media screen and (min-width: 320px) {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1vw;
  }

  @media screen and (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  @media screen and (min-width: 1024px) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

.team__info {
  padding-top: 15px;

  @media screen and (max-width: 767px) {
    margin-right: -35px;
    margin-left: -35px;
  }
}

.team__info:hover {
  @media screen and (min-width: 768px) {
    box-shadow: 0 1px 4px rgb(176, 224, 230), -23px 0 20px -23px rgb(176, 224, 230),
      23px 0 20px -23px rgba(176, 224, 230), 0 0 40px rgb(176, 224, 230);
    border-radius: 2px;
    background-color: rgb(224, 255, 255);
  }
}

.team__name {
  margin-top: 15px;
  font-style: normal;
  font-weight: bold;

  @media screen and (max-width: 767px) {
    font-size: 12px;
  }

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
}

.team__subtitle {
  font-weight: bold;
  color: var(--accent-color);

  @media screen and (max-width: 767px) {
    font-size: 10px;
  }

  @media screen and (min-width: 768px) {
    font-size: 12px;
  }
}

.team__social {
  margin-top: 5px;
  padding: 0 30px;
  display: flex;

  @media screen and (max-width: 767px) {
    padding: 0 70px;
  }
}

.team__link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-bottom: 10px;
  background-color: var(--primary-text-color);
  border-radius: 50%;
  transition: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: var(--accent-color);
  }

  @media screen and (max-width: 767px) {
    width: 20px;
    height: 20px;
  }

  @media screen and (min-width: 768px) {
    width: 25px;
    height: 25px;
  }
}

.team-soc__icon {
  fill: lavender;

  @media screen and (max-width: 767px) {
    width: 13px;
    height: 13px;
  }

  @media screen and (min-width: 768px) {
    width: 18px;
    height: 18px;
  }
}

// стилі під анімацію для супергероїв

.scene {
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 767px) {
    width: 90px;
    height: 110px;
  }

  @media screen and (min-width: 768px) {
    width: 110px;
    height: 130px;
  }
}

.cards {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
}

.scene:hover .cards {
  transform: rotateY(-180deg) rotateX(360deg);
}

.card {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;
}

.front_1 {
  z-index: 2;
  transform: rotate(0deg);
  backface-visibility: hidden;
  background-image: url(../images/team/bogdan.jpg);
}

.back_1 {
  transform: rotateY(-180deg);
  background-image: url(../images/team/hero/bohdan.jpg);
}

.front_2 {
  z-index: 2;
  transform: rotate(0deg);
  backface-visibility: hidden;
  background-image: url(../images/team/ruslan.jpg);
}

.back_2 {
  transform: rotateY(180deg);
  background-image: url(../images/team/hero/ruslan.jpg);
}

.front_3 {
  z-index: 2;
  transform: rotate(0deg);
  backface-visibility: hidden;
  background-image: url(../images/team/сatherine.jpg);
}

.back_3 {
  transform: rotateY(180deg);
  background-image: url(../images/team/hero/katya2.jpg);
}

.front_4 {
  z-index: 2;
  transform: rotate(0deg);
  backface-visibility: hidden;
  background-image: url(../images/team/dima.jpg);
}

.back_4 {
  transform: rotateY(180deg);
  background-image: url(../images/team/hero/dima.jpg);
}

.front_5 {
  z-index: 2;
  transform: rotate(0deg);
  backface-visibility: hidden;
  background-image: url(../images/team/iryna.jpg);
}

.back_5 {
  transform: rotateY(180deg);
  background-image: url(../images/team/hero/ira.jpg);
}

.front_6 {
  z-index: 2;
  transform: rotate(0deg);
  backface-visibility: hidden;
  background-image: url(../images/team/alexred.jpeg);
}

.back_6 {
  transform: rotateY(180deg);
  background-image: url(../images/team/hero/alexred.jpg);
}

.front_7 {
  z-index: 2;
  transform: rotate(0deg);
  backface-visibility: hidden;
  background-image: url(../images/team/sasha.jpg);
}

.back_7 {
  transform: rotateY(180deg);
  background-image: url(../images/team/hero/sasha.jpg);
}
