.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  visibility: visible;
  pointer-events: visible;

  opacity: 1;
}

.modal-is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;

  & .modal {
    opacity: 0;
  }
}

.body__fixed {
  overflow: hidden;
}

.modal {
  width: 100%;
  padding: 48px 20px 40px 20px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 94%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  max-height: calc(100vh - 20px);
  overflow-y: auto;

  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .modal {
    max-width: 430px;
  }
}

@media screen and (min-width: 1024px) {
  .body__fixed {
    padding-right: 17px;
  }

  .modal {
    left: calc(50% - 8.5px);
  }
}

.close__button {
  position: absolute;
  cursor: pointer;

  top: 10px;
  right: 10px;

  display: flex;
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;

  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.close__icon {
  fill: rgba(56, 56, 56, 0.884);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: #ff6b01;
  }
}

@media screen and (min-width: 768px) {
  .close__button {
    position: absolute;
    top: 10px;
    right: 10px;
    left: auto;
    margin-bottom: 0;
  }
}

.detail-img {
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  max-width: 100%;
}

.detail__image__block {
  border-radius: 5px;
  overflow: hidden;
}

.detail__info__block {
  margin-top: 30px;
}

.detail__film__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}

.detail__list__info {
  list-style: none;
  width: calc(100% / 2);
  width: 108px;
}

.detail__item__info:not(:first-child) {
  margin-top: 10px;
}

.detail__item__info {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;

  color: #8c8c8c;
}

.detail__item__info__value {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
}

.detail__item__info__value__rating {
  padding: 1px 10px;
  background-color: #ff6b01;
  border-radius: 5px;
  color: white;
}

.detail__item__info__value__votes {
  padding: 1px 4px;
  background-color: #f7f7f7;
}

.detail__list__block {
  display: flex;
  margin-top: 20px;
}

.detail__about__title {
  margin-top: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
}

.detail__about__text {
  margin-top: 10px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
}

.detail__buttons_block {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

.detail__button {
  border-radius: 5px;
  height: 44px;
  padding-left: 20px;
  padding-right: 20px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

  border: none;
  color: white;
}

@media screen and (max-width: 767px) {
  .detail__button {
    width: calc((100% - 15px) / 2);
  }
}

.detail__button--active {
  background-color: #ff6b01;
}

.detail__button--disable {
  border: 1px solid black;
  color: black;
  background-color: white;
  vertical-align: middle;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.detail__button--disable:hover {
  color: #ff6b01;
  border-color: #ff6b01;
}

table {
  table-layout: fixed;
  width: 260px;
}

th,
td {
  width: 193px;
  overflow: hidden;
}

tr {
  height: 21px;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 618px;
    display: flex;
    flex-wrap: wrap;
    padding: 40px 30px;
  }

  .detail-img {
    width: 264px;
  }

  .detail__image__block {
    border-radius: 5px;
    overflow: hidden;
    width: 264px;
  }

  .detail__info__block {
    width: 264px;
    margin-left: 30px;
  }

  .detail__button {
    max-width: 125px;
    min-width: calc((100% - 15px) / 2);
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
  }

  .detail__info__block {
    margin-top: 0;
  }
}

@media screen and (min-width: 1024px) {
  .detail__film__title {
    font-size: 30px;
    line-height: 1.17;
  }

  .modal {
    width: 882px;
    padding: 50px 30px 40px 30px;
    min-height: 684px;
  }

  .detail__image__block {
    height: 100%;
    width: 396px;
    margin-bottom: 330px;
  }

  .detail__info__block {
    width: 396px;
  }

  .detail__buttons_block {
    justify-content: left;
  }

  .detail__button {
    width: 136px;
    min-width: auto;
  }

  .detail__button:last-child {
    margin-left: 15px;
  }

  td {
    overflow: hidden;
  }

  table {
    width: auto;
  }

  tbody {
    width: 396px;
  }
}

.modal-traill-wrapper {
  display: flex;
  position: absolute;
  bottom: -100px;
  margin: 0px auto;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 5px;
  max-height: 100%;
}

.detail__image {
  width: 200px;
}
