.refreshing-loader-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  width: 100%;
}

@-moz-keyframes refreshing-loader {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes refreshing-loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes refreshing-loader {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* :not(:required) hides this rule from IE9 and below */
.refreshing-loader:not(:required) {
  -moz-animation: refreshing-loader 1000ms infinite linear;
  -webkit-animation: refreshing-loader 1000ms infinite linear;
  animation: refreshing-loader 1000ms infinite linear;
  -moz-border-radius: 2.4em;
  -webkit-border-radius: 2.4em;
  border-radius: 2.4em;
  border: 0.4em solid var(--accent-color);
  border-left-color: transparent;
  color: transparent;
  display: inline-block;
  font-size: 14px;
  line-height: 1.2;
  width: 3em;
  height: 3em;
  text-indent: 100%;
}
.refreshing-loader:not(:required):after {
  display: block;
  border: 0.5em solid transparent;
  border-top-color: #9ac;
  border-left-color: #9ac;
  content: '';
  width: 0;
  height: 0;
  overflow: hidden;
  margin-left: -0.2em;
  margin-top: 1em;
}

// .close-spinner {
//   display: none;
// }

// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// .preloader {
//   /*фиксированное позиционирование*/
//   position: fixed;
//   /* координаты положения */
//   left: 0;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   /* фоновый цвет элемента */
//   background: #e0e0e0;
//   /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
//   z-index: 1001;
// }

// .preloader__row {
//   position: relative;
//   top: 50%;
//   left: 50%;
//   width: 70px;
//   height: 70px;
//   margin-top: -35px;
//   margin-left: -35px;
//   text-align: center;
//   animation: preloader-rotate 2s infinite linear;
// }

// .preloader__item {
//   position: absolute;
//   display: inline-block;
//   top: 0;
//   background-color: var(--accent-color);
//   border-radius: 100%;
//   width: 35px;
//   height: 35px;
//   animation: preloader-bounce 2s infinite ease-in-out;
// }

// .preloader__item:last-child {
//   top: auto;
//   bottom: 0;
//   animation-delay: -1s;
// }

// @keyframes preloader-rotate {
//   100% {
//     transform: rotate(360deg);
//   }
// }

// @keyframes preloader-bounce {
//   0%,
//   100% {
//     transform: scale(0);
//   }

//   50% {
//     transform: scale(1);
//   }
// }

// .loaded_hiding .preloader {
//   transition: 0.3s opacity;
//   opacity: 0;
// }

// .loaded .preloader {
//   display: none;
// }
