* {
  margin: 0;
  padding: 0;
}

.content {
  min-height: calc(100vh - 80px);
}

.footer {
  background-color: var(--footer-bg-color);
}

.footer__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-style: normal;
  font-weight: 400;

  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--third-text-color);

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 16px;
  }
}

.footer__content {
  display: flex;
  margin-bottom: 10px;
  padding-top: 29px;

  @media screen and (min-width: 768px) {
    display: flex;
    margin-bottom: 0;
    padding-bottom: 29px;
  }
}

.footer__develop {
  display: flex;
  padding-bottom: 29px;
  margin-right: 65px;

  @media screen and (min-width: 768px) {
    padding-top: 29px;
    margin-left: 4px;
  }
}

.btn {
  width: 55px;
  padding-left: 4px;
  position: relative;
  display: inline-block;
}

.btn::before {
  font: inherit;
  content: 'Student';
  position: absolute;
  display: inline-block;
  width: 300%;
  left: 5px;
  color: black;
}

.btn:hover::before,
.btn:focus::before {
  font-weight: bold;
}

.btn::after {
  content: '';
  display: block;
  position: absolute;
  margin-top: 5px;
  width: 112px;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  transition: transform 250ms linear;
  transform: scale(0);
}

.btn:hover::after,
.btn:focus::after {
  transform: scale(1);
}

.footer__icon {
  width: 14px;
  height: 13px;
  margin: 0 10px;
  animation: beat 0.5s infinite alternate;

  @keyframes beat {
    to {
      transform: scale(1.8);
    }
  }
}

button {
  padding: 0;
  border: none;
  cursor: pointer;
  color: var(--accent-color);
  background-color: var(--footer-bg-color);
}
