.list_film {
  @media screen and (max-width: 767px) {
    padding-top: 20px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    padding-top: 60px;
  }
}

.list_film_item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  @media screen and (min-width: 768px) {
    margin: 15px;
    width: calc((100% - 4 * 15px) / 2);
  }
  @media screen and (min-width: 1024px) {
    margin: 15px;
    width: calc((100% - 6 * 15px) / 3);
  }
}

.info {
  margin-top: 10px;
}

.info-title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.info-date {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: var(--accent-color);
}
